apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: platform-api
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.dashboardHost }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: platform-api
                port:
                  number: 80

