apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: platform-api
  template:
    metadata:
      labels:
        app: platform-api
    spec:
      #serviceAccountName: platform-api-sa
      containers:
        - name: api
          image: "{{ .Values.api.image }}:{{ .Values.api.tag }}"
          imagePullPolicy: {{ .Values.api.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: STORE_VALUES_PATH
              value: /config/store-values.yaml
          volumeMounts:
            - name: store-values
              mountPath: /config
              readOnly: true
          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
      volumes:
        - name: store-values
          configMap:
            name: platform-store-values
